@charset "EUC-KR";
body {
	font-family: '굴림체';
}
div.body {margin:50px 0 50px;}
tr.header {background:lightgreen;}
tr.record {background:lightblue;}
input.userId {
	height:20px; width:150px;
	border-width:2px;
	}
input.password {
	height:20px;
	width:150px;
	border:2px solid #000;
}
